<header class="hero-unit" id="banner">
  <div class="container">
    <h1>ENM AWS Deployment</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12 ericssonFont">
      <div class="col-md-12 heading">
        <div class="col-md-5"><strong>Name</strong></div>
        <div class="col-md-2"><strong>Instance Type</strong></div>
        <div class="col-md-1"><strong>State</strong></div>
        <div class="col-md-2"><strong>Image ID</strong></div>
        <div class="col-md-2"><strong>Public IP</strong></div>
      </div>
      <div class="row">
        <div class="col-md-12 rowStyle" ng-repeat="data in $ctrl.instanceList.Reservations track by $index"
             ng-click="$ctrl.showInfoDropDown($index)">
          <div class="col-md-5">{{data.Instances[0].Tags[0].Value}}</div>
          <div class="col-md-2">{{data.Instances[0].InstanceType}}</div>
          <!--EC2 State Start-->
          <div class="col-md-1" ng-if="data.Instances[0].State.Name==='running'" title='Running'>
            <i class="ebIcon ebIcon_big ebIcon_tick"></i></div>
          <div class="col-md-1" ng-if="data.Instances[0].State.Name==='stopped'" title='Stopped'>
            <i class="ebIcon ebIcon_big ebIcon_error"></i></div>
          <div class="col-md-1" ng-if="data.Instances[0].State.Name==='pending'" title='Pending'>
            <i class="ebIcon ebIcon_big ebIcon_warning"></i></div>
          <div class="col-md-1" ng-if="data.Instances[0].State.Name==='stopping'" title='Stopping'>
            <i class="ebIcon ebIcon_big ebIcon_invalid"></i></div>

          <div class="col-md-2">{{data.Instances[0].ImageId}}</div>
          <div class="col-md-2">{{data.Instances[0].PublicIpAddress}}</div>

          <!--EC2 Instance Info Drop Down-->
          <div class="col-md-12 instanceDropDown" ng-if="$ctrl.showInstanceInfo === $index">
            <div class="col-md-12">
              <span class="pull-right" ng-click="!$ctrl.showInstanceInfo">X</span>
            </div>
            <table class="table table-hover">
              <thead>
              <tr>
                <th>EBS Instance</th>
                <th>Key Name</th>
                <th>Instance ID</th>
                <th>Subnet ID</th>
                <th>Launch Date</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{data.Instances[0].EbsOptimized}}</td>
                <td>{{data.Instances[0].KeyName}}</td>
                <td>{{data.Instances[0].InstanceId}}</td>
                <td>{{data.Instances[0].SubnetId}}</td>
                <td>{{$ctrl.convertDateTime(data.Instances[0].LaunchTime) |date:'dd/MMM/yyyy'}}</td>
              </tr>
              </tbody>
            </table>

            <div class="col-md-2">
              <button type="button" class="btn btn-success adjustButton" ng-if="data.Instances[0].State.Name ==='stopped'" ng-click="$ctrl.restartInstance($index)">Restart Instance</button>
              <button type="button" class="btn btn-danger adjustButton" ng-if="data.Instances[0].State.Name ==='running'" ng-click="$ctrl.stopInstance($index)">Stop Instance</button>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-warning" ng-click="$ctrl.cloneInstance($index)">Clone Instance</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
